# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build output
bin/
*.test

# IDE settings
.vscode/
.idea/
*.iml

# Go modules cache (if you vendor)
vendor/

# Logs / tmp
*.log
tmp/
*.txt
pcaptool
pcaptool_output/
data/


